# Column exploration using `polars` tables.

In this lecture, we will explore how to use `polars` tables to explore the columns across many files. This will help us find and fix problems with the naming and order of columns across the files.

**Basic procedure:** We want to make a column summary table that shows which columns are present in each file. We will do this by:
1. Use `glob` to find all files matching a pattern.
1. Read in each file as a list of `polars` tables.
2. Stack all columns and aggregate to find unique columns and their counts.
3. Create an columns containing the literal value of `1`.
4. Use a reduction to join all the tables together on the column names.
5. Replace missing values with `0`.

> <font color="orange"> Your thoughts here </font>

## Aside -- Python `set`s

The `set` is a core Python data structure that represents a unique collection of labels and provides set operations like `union`, `intersection`, etc.  Sets can be constructed using either the `set` type constructor or using `{}` as delimiters.

In [18]:
L = ['a', 'a', 'b', 'd']
s1 = set(L)
s1

{'a', 'b', 'd'}

In [19]:
s2 = {'a', 'c', 'd'}
s2

{'a', 'c', 'd'}

In [20]:
empty_set = set()
empty_set

set()

#### Set operations

In [21]:
s1.union(s2)

{'a', 'b', 'c', 'd'}

In [28]:
s1 | s2 # Union operator

{'a', 'b', 'c', 'd'}

In [29]:
from operator import or_

or_(s1, s2)  # This function is useful when reducing a sequence of sets.

In [23]:
s1.intersection(s2)

{'a', 'd'}

In [30]:
s1 & s2  # Intersections operator

{'a', 'd'}

In [31]:
from operator import and_

and_(s1, s2)  # This function is useful when reducing a sequence of sets.

{'a', 'd'}

In [25]:
s1.symmetric_difference(s2) # In one but not both

{'b', 'c'}

In [32]:
from operator import xor

xor(s1, s2)  # This function is useful when reducing a sequence of sets.

{'b', 'c'}

In [26]:
s1 - s2 # in s1 but not s2

{'b'}

In [27]:
s2 - s1 # in s2 but not s1

{'c'}

In [33]:
from operator import sub

sub(s1, s2)  # This function is useful when reducing a sequence of sets.

{'b'}

## Task 0 - Part 2 - Explain why we should exclude 2003.

**Task.** Inspect the column indicator tables from the last lab and explain why
1. The year 2003 is problematic, and
2. Why it might make sense to restrict the years to 2004-2015.

<font color="orange"> Your answers here </font>

## Task 1A - Finding all Common Columns using aggregation

Next you will use both `polars` and `pyspark` (separately) to find the set of column columns using the indicator tables constructed in the previous lab.  To do this, you should

1. Read in the parcel column indicator table from the previous lab.
2. Drop the 2002 and 2003 indicator columns.
3. Compute the column-wise sum across the indicator columns.  Use `sum_horizontal` and a column selector in `polars` and construct a column expression using a list comprehension and `functools.reduce` in `pyspark`.
4. Use a window function to compute the maximum number of times a column appears in the tables from 2004-2015.  Does this correspond to the number of files/years?  Explain.
5. Use a filter to get the columns common to all the tables from 2004-2015.

In [12]:
# Your polars code here

In [13]:
# Your pyspark code here

## Task 1B - Finding all Common Columns using sets

Next we will redo the last task, this time using a more Pythonic approach,

1. Create a list of `pyspark/polars` lazy data frames, one for each parcel file from 2004-2015.
2. Extract the header from each data frame.
3. Apply the `set` constructor onto each list of headers to convert them to Python sets.
4. Reduce the list of sets of column labels to the intersection and union of column labels.
5. Now use set differences to compare the results from `polars` and `pyspark`, both overall and on a set-by-set basis.

Do this with list comprehensions and using the assignment expression to save the results.

In [14]:
# Your polars code here [Steps 1-2]

In [15]:
# Your pyspark code here [Steps 1-2]

In [34]:
# Your Python code here [Steps 3+]

## Task 1C - What is going on with the different number of columns?

Did you notice that `pyspark` and `polars` gave a different number of columns in the previous lab?  Your work on the previous parts of this task, should offer some ideas about where things go wrong, but it's attack this task programmically.

1. Read in your two indicator tables from the previous lab and make sure both are `polars` data frames.
2. Add a `source` column to both tables indicating which platform (`polars` or `pyspark`) generated the table.
3. Our goal is to find columns in one table that *are not* in the other.  Note that `polars` has a very nice join type (`anti`) for just this purpose.  Perform this join on the two tables to find the mismatched column names and the associated years.
4. Use `head` or a `text editor` to inspect the respective years to determine what went wrong.
5. Sometimes the easiest solution to this sort of problem is to (BARF) use Excel to open, edit, and re-save a file.  Do this for each of the offending years.  Be sure to maintain the same file names and use `|` as the separator when re-saving the files.
6. Rerun your code from the previous lab, as well as the code above, to check that your edits fixed the issue.

In [35]:
# Your code here

<font color="orange">Your findings here.<font>

## Task 2 - One Big Happy File

Since we will want to reuse the information generated in this lab, it will be useful to be able save it to a python file.

1. Create a python file named `parcel.py` which is saved in the root folder (e.g., the same folder as all notebooks).
2. Save set representing the common columns to a variable named `common_columns_2004_to_2015`.
3. Save sorted list of common columns to a variable named `sorted_common_columns_2004_to_2015`.
4. Restart the kernel and verify that you can import both of these data structures.

In [17]:
# Your code here

In [ ]:
# Restart and verify this runs.
from parcel import common_columns_2004_to_2015, sorted_common_columns_2004_to_2015